
h1 {
  color: #c0cb7f;
}

h3 {
  color: #c0cb7f;
}

h4 {
  color: #c0cb7f;
}

p {
  color: #5e5c56;
}

body {
  color: #5e5c56;
}

body {
  background-color: black;
}


body {
  font-family: Calibri;
}M


a {
color: #677f51;
  }




a {


  color: #677f51 ;
  }
  
 


table {


  border: 1px solid #a64626;
  width: 250px;

}






td {


  border: 1px solid #a64626;


}


ul {
  list-style-type: square;
}


ol {
  list-style-type: upper-roman;
}


dl {
 
  color: #a64626;
}














   


